.form {
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 981px) {
  .input {
    width: 200% !important;
  }
}

.submit {
  padding: 14px;
  border: none;
  background: #8bc34a;
  color: white;
  font-weight: 700;
  width: 19%;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
}

.disabled {
  cursor: not-allowed !important;
  background: #cdcdcd;
}
