.buttonPositioner {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;

  @media screen and (min-width: 1023px) {
    left: 20%;
  }
}

.btn {
  justify-content: flex-start !important;
  background-color: white !important;
}
