.inputField {
  outline: none;
  padding-bottom: 3px;
  border: none;
  background-color: #f5f5fa;
  margin-top: 10px;
  font-size: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.hide {
  display: none;
}
