.inputField {
  outline: none !important;
  border: none;
  background-color: #f5f5fa;
  font-size: 1em !important;
  width: 100%;
  margin-right: 10px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.hide {
  display: none;
}
