.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.inputField {
  outline: none !important;
  border: none;
  font-size: 1em !important;
  width: 100%;
  margin-right: 10px;
  padding: 10px;
}

.check {
  transform: scale(1.5);
}

.hide {
  display: none;
}
