.app {
  max-width: 500px;
  margin: 50px auto !important;
}

@media screen and (max-width: 980px) {
  .app {
    width: 90% !important;
    margin: 20px auto !important;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
