@import url("https://fonts.googleapis.com/css?family=Overpass:300,400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  max-width: 500px;
  margin: 50px auto;
  background: #fafafa;
  padding: 20px;
  font-family: "Overpass", sans-serif;
}
