@import url("https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i");
@import "~bulma/bulma.sass";

* {
  font-family: "Google Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.react-datepicker-popper {
  transform: translate3d(1345px, 50px, 0px) !important;

  .react-datepicker__triangle {
    left: 210px !important;
  }
}

#navMenu {
  display: block !important;
  box-shadow: none;
  flex: 1 !important;
  padding: 0 !important;
}

.navbar-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 51px !important;
}

.navbar {
  display: flex;
  align-items: center;
}
